.expcar-background {
    text-align: left;
    width: 100%;
    margin: auto;
}
.code-block-container {
    width: 100%;
    max-width: 660px;
    margin: auto;
}

.expcar-stack-item {
    padding: 2px 28px 6px 28px;
    margin: auto;
    margin-bottom: 16px;
    background-color: #2f2f2f;
    border-radius: 8px;
    position: relative;
    min-height: 76px;
    max-width: 760px;

}
.expcar-stack-item h1 {
    font-size: 15pt;
    color: #96d9e6;
    margin: 16px 0 2px 0;
}
.expcar-stack-item h1 a {
    color: #96d9e6;
    font-style: normal;
    text-decoration: none;
}
.expcar-stack-item h1 a:hover {
    cursor: pointer;
}
.expcar-stack-item p {
    margin: 0 0 2px 0;
}
.expcar-stack-item ul {
    margin-top: 12px;
}
.expcar-stack-item li {
    margin-bottom: 6px;
    margin-left: -20px;
    padding-left: 4px;
}
.expcar-stack-item-italics {
    color: #96d9e6;
    font-style: italic;
}


.expcar-item-right {
    position: absolute;
    right: 28px;
    top: 22px;
    text-align: right;
    color: #4eb4d7;
}