.expcar-background {
    text-align: left;
    width: 100%;
    margin: auto;
}
.code-block-container {
    width: 100%;
    max-width: 660px;
    margin: auto;
}

.expcar-stack-item {
    padding: 2px 28px 6px 28px;
    margin: auto;
    margin-bottom: 16px;
    background-color: #222222;
    border-radius: 8px;
    position: relative;
    min-height: 76px;
    max-width: 800px;

}
.expcar-stack-item h1 {
    font-size: 15pt;
    margin: -4px 0 2px 0;
}
.expcar-stack-item p {
    margin: 0 0 2px 0;
}
.expcar-stack-item ul {
    margin-top: 12px;
}
.expcar-stack-item li {
    margin-bottom: 6px;
    margin-left: -20px;
    padding-left: 4px;
}

.expcar-item-right {
    position: absolute;
    right: 28px;
    top: 22px;
    text-align: right;
}