
#experience {
    background-color: #333333;
    padding: 24px 42px;
    color: white;
}

#experience h1 {
    color: white;
}

.experience-button {
    background: none;
    color: white;
    border-style: none;
    font-size: 12pt;
}
.experience-button:hover {
    cursor: pointer;
}