
#experience {
    background-color: #333333;
    padding: 24px 42px;
    color: white;
}

#experience h1 {
    color: white;
    margin-top: 16px;
}


/* Buttons */
#experience-buttons-container {
    margin-top: 16px;
}
.experience-button, .experience-button-selected {
    background: none;
    color: #6ee3b6;
    border-style: none;
    border-width: 1px;
    font-size: 12pt;
    font-weight: 500;
    margin: 0 10px;
    padding: 0;
}
.experience-button-selected {
    border-style: none none solid none;
    border-color: #6ee3b6;
}
.experience-button:hover {
    cursor: pointer;
}

/* Carousel */
#experience-carousel {
    margin-top: 24px;
}
.expcar-container {
    height: 480px;
    overflow-y: scroll;
}
.expcar-container::-webkit-scrollbar {
    display: none;
}
