

#landing-background {
    border-style: solid;
    padding: 24px 64px;
}

/* Text Container */
#landing-text-container {
    width: 600px;
    margin: 12px auto 36px auto;
}
#landing-pic {
    width: 200px;
    height: 200px;
}
#landing-text-container h1 {
    font-size: 36pt;
    margin-bottom: 8px;
    font-weight: 900;
}
#landing-text-container h2 {
    margin: 0px;
    font-size: 16pt;
    font-weight: 600;
}

/* Landing Buttons */
#landing-buttons-container {

}
.landing-button {
    margin-left: 12px;
}

/* #abffd7 */