

#landing-background {
    padding: 64px 42px;
}

/* Text Container */
#landing-text-container {
    width: 480px;
    margin: 12px auto 36px auto;
}
#landing-pic {
    width: 200px;
    height: 200px;
}
#landing-text-container h1 {
    font-size: 36pt;
    margin-bottom: 8px;
    font-weight: 900;
}
#landing-text-container h2 {
    margin: 0px;
    font-size: 16pt;
    font-weight: 600;
}

/* Landing Buttons */
#landing-buttons-container {
    
}
#landing-buttons-container p {
    margin: 4px 0;
    display: inline-block;
    font-size: 13pt;
    font-weight: 500;
}
.landing-button {
    margin: 7px;
    font-size: 13pt;
    font-weight: 600;
    color: black;
    text-decoration: none;
    background: none;
    border-style: none none solid none;
    border-color: #6ee3b6;
}

/* #abffd7 */