

#landing-container {
    border-style: solid;
    text-align: left;
    padding: 24px 42px;
}

#landing-container h1 {
    font-size: 42px;
    margin-bottom: 24px;

}

#landing-left {
    width: 540px;
}