

#landing-background {
    border-style: solid;
    padding: 24px 42px;
}

#landing-container {
    width: 600px;
    margin: auto;
}

#landing-container h1 {
    font-size: 36pt;
    margin-bottom: 8px;
    font-weight: 900;
}

#landing-container h2 {
    margin: 0px;
    font-size: 16pt;
    font-weight: 600;
}

#landing-left {
    width: 540px;
}

/* #abffd7 */