
.projcar-container {

}

/* Project Item */
.projcar-item {
    border-radius: 12px;
    background-color: #efefef;
    text-align: left;
    padding: 2px 28px 6px 28px;
    margin: auto;
    margin-bottom: 16px;
    background-color: #222222;
    border-radius: 8px;
    position: relative;
    min-height: 76px;
    max-width: 760px;
}
.projcar-item h1 {
    font-size: 16pt;
}