
.projcar-container {

}

/* Project Item */
.projcar-item {
    border-radius: 12px;
    text-align: left;
    padding: 16px 28px 16px 28px;
    margin: auto;
    margin-bottom: 16px;
    border-radius: 8px;
    position: relative;
    max-width: 760px;
    background-color: #f5f5f5;
}

.projcar-item-thumbnail-container {
    display: inline-block;
    height: 100%;
}
.projcar-item-thumbnail {
    display: inline-block;
    width: 285px;
    margin-right: 32px;
    vertical-align: top;
    border-radius: 8px;
    max-width: 100%;
}
.projcar-item h1 {
    margin: 0 0 4px 0;
    font-size: 16pt;
}
.projcar-item p {
    margin: 0;
    font-size: 12pt;
}

.projcar-item-right {
    display: inline-block;
    vertical-align: top;
    max-width: 440px;
}

.projcar-item-subtitle {
    margin: 0 0 8px 0 !important;
    font-size: 10pt !important;
    font-style: italic;
    
}

/* Links */
.projcar-item-right-links {
    margin-top: 6px;
}
.projcar-item-right-links a {
    margin: 0 2px 0 6px;
    text-decoration: underline;
    color: #2d7a7f;
}

/* Icons */
.projcar-item-icons-container {
    margin-top: 12px;
    margin-bottom: -4px;
}
.projcar-item-icons-container img {
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-right: 8px;
}
.projcar-item-icon-separator {
    margin: 0 2px 0 -4px !important;
}

.projcar-item-icons-container-text {
    display: none;
}
.projcar-item-icons-container:hover .projcar-item-icons-container-text {
    display: none;
}


