body { background-color: transparent !important; }

.container {
    width: 640px; max-width: 90%;
    margin: auto; margin-top: 60px !important; margin-bottom: 20px;
    
}


.container h1,h2 { text-align: center; border-radius: 4px; padding: 4px; }
.container h3 { color: #295943; font-size: 125%; }
.container h4 { color: #3b5981; font-size: 110%;  }
.container p { font-size: 90%; line-height: 1.32; }
.container p b { font-family: "GmarketBold", sans-serif; padding-bottom: 4px; }
.container a { font-family: "GmarketMedium", sans-serif; text-decoration: none; color: #3b5981; transition: 0.2s; }
.container a:hover { opacity: 0.7; }
.container .emphasis { color: #295943; }
.container .reflection { font-size: 10pt; color: #3b5981; }
.container .dev-story { color: #555555; margin-top: 8px; }
.container .mini-description { font-size: 8pt; color: #666666;  }
.footnotes { font-size: 6.5pt !important; line-height: 8pt !important; color: #777777; opacity: 60%; }

.container-narrow {
    width: 420px; margin: auto; max-width: 80%;
    margin-top: 150px;
}
.container-narrow h1 {
    text-align: center;
}
.container-narrow .menu-item {
    font-family: "GmarketMedium", sans-serif;
    margin: 1.5px 0px; padding: 2.5px 0px;
    display: inline-block;
    width: 100%;
}
.container-narrow .menu-item img {
    height: 20px; 
    display: inline-block;
    float: left;
    margin-left: 4px;
}
.container-narrow .menu-item span {
    margin-left: 12px;
}
.container-narrow a {
    text-decoration: none; color: #333333;
    transition: 0.2s;
}
.container-narrow a:hover {
    opacity: 75%;
}


.green-link { color: #295943 !important; }

ul { margin-top: 2px; }
li { font-family: "GmarketMedium", sans-serif; font-size: 10pt; margin-left: -24px; margin-bottom: 2px; }

.list-skills { margin-top: 8px;}
.list-skills li { font-family: "GmarketMedium", sans-serif; font-size: 10pt; color: #3b5981; margin-left: -30px; margin-bottom: 3px; }

.img-fg-popup { width: 100%; max-width: 100%; border-radius: 12px; margin-bottom: 12px; }
.img-proj-download { width: 200px; height: 61px;  }

.slideshow-box { text-align: center; height: 430px; }
.slideshow {
    width: 100%; max-width: 100%; height: 100%; overflow: hidden;
    border-style: none;
}

.div-info-1, .div-info-2, .div-info-3 {
    width: 90%;
    border-style: solid; border-radius: 6px; border-width: 1px;
    padding: 6px; padding-left: 10px !important;
    margin-top: 10px;
}
.div-info-1 {
    border-color: #cccccc; 
    background-color: #eeeeee;
}
.div-info-2 {
    border-color: #b8bc65; 
    background-color: #fdffdb;
}
.div-info-3 {
    border-color: rgb(255, 169, 169); 
    background-color: rgb(255, 226, 226);
}

